<div class="container-fluid">

    <div class="row">

        <div class="col-xs-3">
            <button
                ng-click="vm.download()"
                type="button"
                title="Download"
                class="btn btn-success">
                <i class="fa fa-fw fa-3x fa-play-circle"></i>
            </button>
        </div>

        <div class="col-xs-3">

        </div>

        <div class="col-xs-3">

        </div>

    </div>

    <div class="row">

        <form ng-submit="vm.submit()">

            <div class="col-xs-offset-2 col-xs-8">

                <div class="form-group">

                    <div class="input-group">

                        <input
                            ng-model="vm.search"
                            type="text"
                            class="form-control"
                            placeholder="Search for..." />

                        <span
                            ng-if="!vm.running"
                            class="input-group-btn">

                            <button
                                class="btn btn-primary"
                                type="submit">
                                <i class="fa fa-fw fa-search"></i>
                            </button>

                        </span>

                        <span
                            ng-if="vm.running"
                            class="input-group-btn">

                            <span
                                class="disabled btn btn-primary">
                                <i class="fa fa-fw fa-spin fa-spinner"></i>
                            </span>

                        </span>

                    </div>

                </div>

                <div
                    ng-repeat="(key, type) in vm.allTypes"
                    class="checkbox checkbox-inline checkbox-circle checkbox-primary">

                    <input
                        id="checkbox_{{key}}_{{type}}"
                        type="checkbox"
                        ng-model="vm.types[key]" />

                    <label for="checkbox_{{key}}_{{type}}">
                        {{ type }}
                    </label>

                </div>

            </div>

        </form>

    </div>

    <div class="row height-300">

        <table class="table table-hover table-vertical-align">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Episode</th>
                    <th colspan="2">Channel</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prog in vm.searchResult">
                    <td>{{ prog.title }}</td>
                    <td>{{ prog.episode }}</td>
                    <td>{{ prog.channel }}</td>
                    <td>
                        <div class="btn-group">
                            <button ng-click="vm.getInfo(prog)" class="btn btn-default">
                                <i class="fa fa-info-circle"></i>
                            </button>

                            <button ng-click="vm.addToQueue(prog)" class="btn btn-primary">
                                Select
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="row height-300">

        <table class="table table-hover table-vertical-align">

            <thead>
                <tr>
                    <th>PID</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Episode</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prog in vm.queue">
                    <td>{{ prog.pid }}</td>
                    <td>
                        <div class="progress">
                            <div
                                class="progress-bar"
                                role="progressbar"
                                style="min-width: 2em; width: {{ vm.queuePercent[prog.pid] || 0 }}%">
                                {{ vm.queuePercent[prog.pid] || 0 }}%
                            </div>
                        </div>

                    </td>
                    <td>{{ prog.title }}</td>
                    <td>{{ prog.episode }}</td>
                </tr>
            </tbody>

        </table>

    </div>

</div>
